body {
  background-color: #f0f4fa;
  text-align: center;
  margin: 0;
}

#title {
  display: flex;
  font-size: 35px;
  color: #252627;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin: 30px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: lexend;
}

button {
  font-size: 18px;
  color: #252627;
  background-color: #d9dee6;
  border: 2.5px solid #a5a8ad;
  border-radius: 5px;
  padding: 12px 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
  font-family: lexend;
}

button:hover {
  background-color: #cad0d6;
}

#copyButton {
  margin-left: 8px;
}

#faceText {
  color: #252627;
  font-size: 100px;
  margin-top: 100px;
}

@font-face {
  font-family: lexend;
  src: url("LexendDeca-Regular.ttf");
}

/* 950px and down */
@media only screen and (max-width: 950px) {
  #title {
    font-size: 25px;
  }

  #faceText {
    font-size: 80px;
  }
}

/* 680px and down */
@media only screen and (max-width: 680px) {
  #faceText {
    font-size: 60px;
  }
}

/* 500px and down */
@media only screen and (max-width: 500px) {
  #faceText {
    font-size: 40px;
  }
}
